@model ARSDAL.Contact_Details

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>Contact_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State1.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State1.StateName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CnID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
