@model ARSDAL.Passenger

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeHeaderLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>



    <!-- Font Icon -->
    @*<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">*@
    <link href="~/Loginnew/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />




    <!-- Main css -->
    @*<link rel="stylesheet" href="css/style.css">*@
    <link href="~/Loginnew/css/style.css" rel="stylesheet" />



</head>
<body style="background-color:paleturquoise">



    @*<div class="main">*@
    <!-- Sing in  Form -->



    <section class="sign-in">
        <div class="container ">



            <div class="signin-content">
                <div class="signin-image">
                    @*<figure><img src="images/signin-image.jpg" alt="sing up image"></figure>*@



                    <figure><img src="~/RegistrationContent/images/image-1.png" /></figure>

                    <a href="~/ARSPassengersRegis/Create" class="signup-image-link">New user? Sign Up</a>
                </div>



                <div class="signin-form">
                    <h2 class="form-title">Sign In</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                <form method="POST" class="register-form" id="login-form">
                    @*<div class="form-horizontal">*@
                    @ViewBag.Message
                    @*<h4>Passenger Login</h4>
        <hr />*@



                    @*<div class="form-group">*@
                    <div class="form-holder">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        @*<div class="col-md-10">*@
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>


                    <br />
                    <div class="form-holder">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        @*<div class="col-md-10">*@
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" class="btn btn-default" />
                        </div>
                    </div>
                </form>
                    }
                </div>
            </div>
        </div>
    </section>
    @*<script src="vendor/jquery/jquery.min.js"></script>*@
    <script src="~/Loginnew/jquery/jquery.min.js"></script>



    @*<script src="js/main.js"></script>*@
    <script src="~/Loginnew/js/main.js"></script>




</body>
</html>



@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
