@model IEnumerable<ARSDAL.SearchFlight_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutFinal.cshtml";
}



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table bg-dark text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AcNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Airport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fare)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.AcNumber)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Airport)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Destination)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Capacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Departure)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Arrival)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fare)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id=item.AcNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.AcNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AcNumber })*@
        @if (Session["UserID"] == null)
        {
            <a href=" @Url.Action("Index","ARSPassengers")" class="btn btn-success">Please Login for Booking</a>
        }
        else
        {
            <a href=" @Url.Action("Index","BookFlight")" class="btn btn-success">Book Flight Now</a>
        }

    </td>
</tr>
}

</table>
